* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "REM", sans-serif;
}

.appContainer {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 30vh;
}

.totalsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
}

.expenseListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px red;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
  background-color: rgb(255, 200, 200);
  flex-wrap: wrap;
}

.expenseListCost {
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 4px;
  padding: 4px;
  color: white;
  margin: 3px;
}

.addExpenseTitle,
.expensesListTitle {
  margin-top: 20px;
}

.addExpense {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

button {
  background-color: rgb(0, 122, 255);
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  border: none;
}

.addExpenseButton {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.expenseInput {
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px;
}

.expenseTotal {
  background-color: rgb(204, 229, 255);
  border: 1px solid rgb(162, 195, 231);
}
.budgetTotal {
  background-color: rgb(226, 227, 229);
  border: 1px solid rgb(190, 190, 190);
}
.remainingTotal {
  background-color: rgb(212, 237, 218);
  border: 1px solid rgb(167, 226, 181);
}

.listItemButtons {
  display: flex;
}

.expenseListDelete,
.expenseListEdit {
  border: 1px solid red;
  color: black;
  background-color: inherit;
}

.expenseListDelete:hover,
.expenseListEdit:hover {
  cursor: pointer;
  background-color: rgb(255, 225, 225);
}

.budgetDisplay {
  display: flex;
}

.input {
  max-width: 120px;
  border: 1px solid white;
  background-color: white;
  border-radius: 4px;
  padding: 0;
  margin: 3px;
  height: 30px;
}

.budgetInput {
  height: initial;
  padding: 2px;
  margin: 0;
}
.budgetTitle {
  margin-right: 5px;
}
